<div class= "container">
  <h3 class="text-center">Contact Us</h3>
  
  <%= form_for "/contacts" do |f| %>
    <%= f.label :first_name %>
    <%= f.text_field :first_name %>
    
    <%= f.label :last_name %>
    <%= f.text_field :last_name %>
    
    <%= f.label :email %>
    <%= f.text_field :email %>
    
    <%= f.label :comments %>
    <%= f.text_area :comments %>
    
    <%= f.submit 'Submit' %>
  <% end %>
</div>